@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6d4fc4;
  border-radius: 50px;
}
.font {
  font-family: "Poppins", sans-serif;
}
.nav-link:hover {
  background-color: #4842b0;
}
.start-now {
  background-color: #6d4fc4;
}
.start-now:hover {
  background-color: #4842b0;
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.1);
}
