@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 300;
}
.nav-link {
    background-color: #6D4Fc4;
}

.nav-link:hover {
    background-color: #4842B0;
}

@media only screen and (max-width: 680px) {
    nav {
        font-size: 25px;
    }

   .home-img {
       display: none;
   }
    
}